:root{
  --main-text: rgb(124, 93, 163);
}
@keyframes rockAnimation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
@keyframes coolAnimation {
  0%, 100% {
    transform: rotate(0deg) translate(-50%, -50%) scale(1.09);
    transform-origin: top center;
  }
  25%{
    transform: rotate(40deg) translate(-50%, -50%) scale(1.09);
  }
  75%{
    transform: rotate(-10deg) translate(-50%, -50%) scale(1.09);
  }
  80%{
    transform: rotate(8deg) translate(-50%, -50%) scale(1.09);
  }
  89%{
    transform: rotate(-4deg) translate(-50%, -50%) scale(1.09);
  }
}
body, html{
  margin: 0;
  padding: 0;
  background-color: rgb(207, 215, 248);
}
.navbar{
  font-size: 30px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text);
  border-bottom: 1px solid black;
}
.options{
  font-size: 20px;
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  flex-grow: 1; 
}
#lgn{
  font-size: 20px;
}
.options a {
  margin: 0 10vmin;
}

.home{
  display: flex;
  padding: 20px;
}
.cards{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
}
#text_home{
  color: var(--main-text);
  font-size: 60px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#t1_home{
  width: 250px;
  height: 200px;
  background-color: rgb(172, 81, 163);
  border-radius: 20px;
  transition: transform 0.3s cubic-bezier(.6,.25,.71,1.01);
}
#t2_home{
  width: 250px;
  height: 200px;
  background-color: rgb(64, 177, 219);
  border-radius: 20px;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(228, 205, 236);
  transition: 0.3s cubic-bezier(.6,.25,.71,1.01);
}
#t1_home h3, #t2_home h3{
  margin: 8px;
  font-size: 20px;
  color: rgb(244, 252, 249);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.emoji_home{
  font-size: 30px;
}
#t1_home:hover{
  /* transition: transform 0.3s cubic-bezier(.6,.25,.71,1.01); */
  z-index: 1;
  /* transform: translate(-7%, 4%); */
  animation: rockAnimation 1s ease-in-out 1; 
}
#t2_home:hover{
  /* transition: 0.3s cubic-bezier(.6,.25,.71,1.01); */
  transform: translate(-50%, -50%) scale(1.09);
  animation: coolAnimation 2s ease-in-out 1;
}
#t1_home h4, #t2_home h4{
  color: rgb(215, 235, 227);
  margin: 8px;
  font-size: 19px;
}

